

#search{
  display: flex;
  /* margin-bottom: 50px; */
  justify-content: space-around;
  background-color: #009270;;
  /* width: 5%;
  height: 33px;
  margin: auto; */
}
#account{
  width: 30px;
  margin-top: 15.5px;
  margin-right: 5px;
}
#logcon{
  width: 90px;
  display: flex;
  align-items: center;
  margin-left: 7px;
  margin-top: 17px;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 70%;
 
}

.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#009270; ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: black;
  text-align: center;
  /* text-decoration: none; */
/* margin-left: 1500px; */
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  height:48px;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font: inherit;
  margin: 0;
  padding: 0px 6.2px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #117961  ;
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: auto;
  padding: 10px;
  background-color:transparent;
  height: auto;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: auto;
    height: auto;
  }
}


a{
  text-decoration: none;
  color: black
}

#search_icon{
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
width: 20px;
/* height: 20px; */
margin-top: 3.5px;

}

#cricketbuzz>#cricol{
  background: #fff;
  color: black;
  border-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
#navbar1{
  background-color:#4A4A4A;
  display: flex;
  justify-content: space-between;
}
#navbar1>a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
#navbar1>a:first-child{
  background-color:#444444;
}
#footer>img{
  width: 100%;
}