* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin: auto;
}
.scheduleview {
  /* border: 1px solid green; */
  padding: 20px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#player_box {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
